#r-comments {
	width: 1024px;
	margin: 10px auto 10px;

	.r-comments {
		&__list {
			padding: 0;
			list-style: none;
		}

		&__item {
			border-left: 1px solid #ccc;
			padding-left: 40px;
			margin-bottom: 20px;
			position: relative;

			P {
				margin: 5px 0;
			}

			BUTTON {
				margin-right: 5px;
			}
		}

		&__form {
			TEXTAREA {
				width: 100%;
				resize: none;
			}
		}

		&__rate {
			.rate {
				position: absolute;
				z-index: 10;
				left: 0;
				top: 0px;
				color: #4a4a4a;
				font-weight: bold;
				font-size: 20px;
				min-width: 20px;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				vertical-align: middle;
				line-height: 25px;

				&_vote {
					
				}

				&_current {
					top: 25px;
				}

				&_upvote {
					top: 45px;
					font-size: 30px;
				}
			}
		}
	}
}